@media screen and (max-width:767px) {
    .logo {
    color: #000000;

    &--accent {
        display: block;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        color: $brand-color;
        margin-bottom: 0px;
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    background-color: $main-white;

    &__burger--position {
        position: relative;
    }

    &__burger--button {
        position: fixed;
        top: 0;
        right: 0;

        transform: translate(-50%,23%);

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 40px;
        height: 40px;
        color: $primary-color;
        border: transparent;
        background-color: transparent;

        z-index: 6;

        transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    }

    &__burger--button:focus,
    &__burger--button:hover {
        color: $brand-color;
    }

    &__burger--icon {
        display: flex;
        fill: currentColor;
    }

    // &__burger--icon:focus,
    // &__burger--icon:hover {
    //     color: $brand-color;
    // }
    &__burger--open {
    display: block;
     width: 40px;
     height: 40px;

     
    }

    &__burger--button.is-open &__burger--open {
        display: none;
    }

    &__burger--close {
        display: none;
        width: 40px;
        height: 40px;
    }

    &__burger--button.is-open &__burger--close {
        display: block;
    }
    
}

.burger {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    text-align: center;
    background: $main-white;

    z-index: 3;
   
    &.is-open {
    display: flex;
    flex-wrap: wrap;
    }

    &__nav {
        display: block;
        margin-bottom: auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }
    &__link {
        display: block;
        text-align: start;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        cursor: pointer;

        color: $primary-color;

        transition: color 250ms linear;
    }

    &__link:hover,
    &__link:focus {
        color: $brand-color;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__socials--icons {
        display: block;
        padding-right: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
    
        letter-spacing: 0.02em;
        color: $brand-color;

        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.nav {
    


    &__item {
        display: none;
        // display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $primary-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;


        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item--current {
        display: none;
        justify-content: center;
        align-items: baseline;
        height: 48px;
        color: $brand-color;

    }

    &__item--current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        right: 0;
        bottom: 1;

        background: #2196F3;
        border-radius: 2px;
    }

    &__item:hover,
    &__item:focus {
        color: $brand-color;
        transform: scale(1.2);

    }
    }

    .nav-info {
        display: none;
        text-align: center;
        align-items: baseline;
        justify-content: space-between;
        gap: 30px;
        margin-left: auto;
        padding: 0px;

        color: $description-color;

    &__item {
        display: flex;
        text-align: center;
        gap: 10px;
        align-items: baseline;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover,
    &__item:focus {
        color: $brand-color;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        color: $description-color;
        text-decoration: none;
    }


    &__link:hover,
    &__link:focus {
        color: $brand-color;
    }

   &__icon--envelope {
       margin-right: 10px;
       width: 16px;
       height: 14px;
       fill: currentColor;
       stroke: currentColor;
   }

   &__icon--phone {
       margin-right: 10px;
       width: 10px;
       height: 16px;
       fill: currentColor;
       stroke: currentColor;
   }
}
}

.current {
    color: $brand-color
}