@media screen and (max-width:767px) {
    .logo {
    color: #000000;

    &--accent {
        display: block;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        color: $brand-color;
        margin-bottom: 0px;
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    background-color: $main-white;

    &__burger--position {
        position: relative;
    }

    &__burger--button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 40px;
        height: 40px;
        color: $primary-color;
        border: transparent;
        background-color: transparent;
    }
    &__burger--icon {
        display: flex;
        color: currentColor;
    }
    &__burger--open {
    display: block;
     width: 24px;
     height: 16px;
    }

    &__burger--button.is-open &__burger--open {
        display: none;
    }

    &__burger--close {
        display: none;
        width: 19px;
        height: 19px;
    }

    &__burger--button.is-open &__burger--close {
        display: block;
    }
    
    &__burger-menu--container {
        display: none;
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 796px;
        padding: 20px;
        text-align: center;
        background: greenyellow;
    }
    
    &__burger-menu--container.is-open {
        display: block;
    }
}

.nav {
    display: none;
    justify-content: space-between;
    gap: 50px;
    margin-left: 93px;
    padding: 0px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $primary-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;


        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item--current {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: 48px;
        color: $brand-color;

    }

    &__item--current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        right: 0;
        bottom: 1;

        background: #2196F3;
        border-radius: 2px;
    }

    &__item:hover,
    &__item:focus {
        color: $brand-color;
        transform: scale(1.2);

    }
    }

    .nav-info {
        display: none;
        text-align: center;
        align-items: baseline;
        justify-content: space-between;
        gap: 30px;
        margin-left: auto;
        padding: 0px;

        color: $description-color;

    &__item {
        display: flex;
        text-align: center;
        gap: 10px;
        align-items: baseline;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover,
    &__item:focus {
        color: $brand-color;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        color: $description-color;
        text-decoration: none;
    }


    &__link:hover,
    &__link:focus {
        color: $brand-color;
    }

   &__icon--envelope {
       margin-right: 10px;
       width: 16px;
       height: 14px;
       fill: currentColor;
       stroke: currentColor;
   }

   &__icon--phone {
       margin-right: 10px;
       width: 10px;
       height: 16px;
       fill: currentColor;
       stroke: currentColor;
   }
}
}